tqdm
pillow
psutil

# Data Engineer package
numpy
pandas
psycopg2-binary
sqlalchemy

# Visualization packages
graphviz
matplotlib
# Data Science Packages
tensorflow-gpu>=1.15.2
tensorflow>=1.15.2
keras
seglearn
scikit-learn
scikit-image